amqp==1.4.9
anyjson==0.3.3
beautifulsoup4==4.3.2
billiard==3.3.0.23
boto==2.42.0
bz2file==0.98
captcha==0.2.1
celery==3.1.23
cssselect==0.9.1
DateTime==4.1.1
decorator==4.0.10
Django==1.10rc1
django-admin-tools==0.7.2
django-mathfilters==0.4.0
django-bower==5.2.0
django-celery==3.1.17
django-fields==0.3.0
django-simple-captcha==0.5.1
django-twitter-bootstrap==3.3.0
django-widget-tweaks==1.4.1
feedfinder2==0.0.1
feedparser==5.1.3
gensim==0.13.1
jieba==0.35
kombu==3.0.35
lxml==3.7.3
networkx==1.11
newspaper==0.0.9.8
nltk==3.2.2
numpy==1.11.1
Pillow==2.5.1
psycopg2==2.7
pycrypto==2.6.1
python-dateutil==2.4.0
pytz==2016.6.1
PyYAML==3.11
requests==2.3.0
spacy==1.7.3
scipy==0.17.1
six==1.7.3
smart-open==1.3.3
tldextract==1.5.1
untangle==1.1.0
zope.interface==4.2.0
ipython==5.1.0
eventregistry==6.1.3
pandas==0.19.1
keras==1.1.1
tensorflow>=0.12.0rc0
scikit-learn==0.18
pylama==7.2.3
pylama-pylint==2.2.1
django-bower==5.2.0
django-mathfilters==0.4.0
pytest-django==3.1.2
h5py==2.6.0
