{% extends "admin/base.html" %}


{% block content %}

			<div id="content" class="site-content" role="main">

		<div ALIGN=CENTER>
            {{ state }}
	<form action="{% url 'login_user' %}" method="post">
        
        {% csrf_token %}
		username: 
		<input type="text" name="username" value="{{ username}}" /><br />
		password:
		<input type="password" name="password" value="" /><br />

		<input type="submit" value="Log In" />
	</form>
            <p> Forgot your password or username? Click <a href="{% url 'password_reset' %}">here</a>.</p>
    </div>
</div>
{% endblock content %}