{% extends "last24h/base.html" %}

{% block content %}

		<div ALIGN=CENTER>
			<p>Welcome to graphite. Here you can do this and that. Check out our custom site stuff</p>
   
    </div>
  
<div id="graph" style="width:1024px; margin:auto;">

<p>Viewing Options: <select id="order">
  <option value="none">view graph</option>
  <option value="title">view parameter box</option>
    </select>
    <input type=checkbox value="Suggestion titles">
<script align='center' type="text/javascript" src="{% static 'last24h/d3.min.js' %}"></script>
<script>

var width = 1500,
    height = 500;

var color = d3.scale.category20();

var force = d3.layout.force()
    .charge(-30)
    .linkDistance(15)
    .size([width, height]);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("{% static "last24h/ug_nl.json" %}", function(error, graph) {
  if (error) throw error;
    

  force
      .nodes(graph.nodes)
      .links(graph.links)
      .start();

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.weight); });

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("g")
      .attr("class", "node")
      .on("mouseover", function(d) {        
           
        pop.transition()
               .duration(500)
               .style("opacity", 0);
       pop.style("pointer-events","none");
        div.transition()
            .duration(200)   
            .style("opacity", .9);    
        div .html(d.title) 
            .style("left", (d3.event.pageX) + "px")             
            .style("top", (d3.event.pageY - 28) + "px");})
       .on("mouseout", function(d) {
            div.transition()        
                .duration(500)      
                .style("opacity", 0);})
       .on("mouseup", function(d) {
           div.transition()        
                .duration(500)      
                .style("opacity", 0);
            pop.transition()
                .duration(200)
                .style("opacity", .9)
                .style("pointer-events","auto");    
            pop .attr("id", "link")
                .html('<a href=' + d.url + '><b>' + d.title + '</b></a><br/><br/><b>Description:</b>' + d.summary + '...')
            
                .style("left", (d3.event.pageX) + "px")             
                .style("top", (d3.event.pageY - 28) + "px");
                })
        .call(force.drag);
    
    node.append("circle")
        .attr("r", 4)
        .style("fill", function(d) { return color(d.suggest); })
        .style("stroke",function(d) {return (d.suggest <= 15) && (d.suggest != 0) ? '#999' :'#fff';});;
        

    node.append("text")
        .attr("x", 12)
        .attr("dy", ".35em")
        .text('');  

    var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 1e-6);
    
    var pop = d3.select("body").append("pop")
    .attr("class", "popup")
    .style("opacity", 1e-6);

      resize();
  d3.select(window).on("resize", resize); 

   d3.select('input').on('change', function() {
        d3.selectAll(".node text").text('hello');
        var showTitles = function(d) { return (d.suggest <= 15) && (d.suggest != 0) ? d.title : '';};
        var noShow = '';
        d3.selectAll(".node text").text(this.checked ? showTitles : noShow);
        });
            
  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });
    
    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
        
  });
    function resize() {
    width = window.innerWidth, height = window.innerHeight;
    svg.attr("width", width).attr("height", height);
    force.size([width, height]).resume();
  }

});

  
    
</script>
    </div>
<div ALIGN=CENTER> 
    <h2> Reading suggestions: </h2>
    
{% if suggest %}
    <ol>
    {% for suggestion in suggest %}
        <li><a href="{{suggestion.url}}">{{ suggestion.title }}</a></li>
    {% endfor %}
    </ol>
{% else %}
    <p>No suggestions are available.</p>
{% endif %}
    
    
    <form action="{% url 'last24h:index' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Filter" />
</form>
  </div> 
{% endblock content %}