{% load staticfiles %}
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<style>
.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
text {
  font: 10px "Raleway", sans-serif;
  pointer-events: none;
  text-align:center;
  position:absolute;
  
}
.link {
  stroke: #999;
  stroke-opacity: .6;
}

div.tooltip {   
  position: absolute;           
  text-align: center;                        
  font: 12px "Raleway", sans-serif;           
  border: 2px;      
  border-radius: 8px;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #fff;          
  pointer-events: none;
  color: #2b2b2b;
  border-color: #2b2b2b;
  border-style: solid;
}
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
 pop.popup {
  position: absolute;           
  text-align: left;                        
  font: 12px "Raleway", sans-serif;           
  border: 2px;
  width: 200px;
  border-radius: 8px;
  line-height: 1;
  padding: 12px;
  background: #fff;
  color: #2b2b2b;
  border-color: #2b2b2b;
  border-style: solid;
}  

/* Creates a small triangle extender for the tooltip */
</style>

<head>

    <title>graphite | maximise relevance, minimise redundancy</title>
    <link rel="stylesheet" href="{% static 'last24h/style.css' %}">

</head>

<body id="chosen" class="home page page-id-4 page-template-default logged-in admin-bar no-customize-support singular singular-page singular-page-4">

<header class="site-header" id="site-header" role="banner">
			<div id="menu-primary-container" class="menu-primary-container">
				<div id="menu-primary" class="menu-container menu-primary" role="navigation">

    <nav class="menu"><ul id="menu-primary-items" class="menu-primary-items"><li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href="http://localhost/wordpress/%e2%89%a424h/"><24h</a></li>
<li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="http://localhost/wordpress/custom-search/">Custom search</a></li>
<li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="http://localhost/wordpress/graph-alerts/">Graph Alerts</a></li>
<li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="http://localhost/wordpress/personal-grid/">Personal Grid</a></li>
</ul></nav>
</div><!-- #menu-primary .menu-container -->
							</div>
			<div id="title-container" class="title-container">
				<h1 id='site-title' class='site-title'><a href='http://localhost/wordpress' title='graphite'>graphite</a></h1>				
                <p class="tagline">maximise relevance, minimise redundancy</p>			</div>
    
		</header>

		<div ALIGN=CENTER>
			<p>Welcome to graphite. Here you can do this and that. Check out our custom site stuff</p>
   
    </div>
  
<div id="graph" style="width:1024px; margin:auto;">

<p>Viewing options: <select id="order">
  <option value="Title_check">Show suggestions</option>
  <option value="Keyword_check">Show keywords (beta)</option>
  <option value="None">None</option>  
</select>
<!--    <label><input id="Keyword_check" type=checkbox value="0"/>Show keywords (beta) </label>
    <label><input id="Title_check" type=checkbox value="1"/>Show suggested links</label>-->
<script align='center' type="text/javascript" src="{% static 'last24h/d3.min.js' %}"></script>
<script>

var width = 1500,
    height = 1000;

var color = d3.scale.category20();

var force = d3.layout.force()
    .charge(-30)
    .linkDistance(15)
    .size([width, height]);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("{% static "last24h/ug_nl.json" %}", function(error, graph) {
  if (error) throw error;
    

  force
      .nodes(graph.nodes)
      .links(graph.links)
      .start();

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.weight); });

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("g")
      .attr("class", "node")
      .on("mouseover", function(d) {        
           
        pop.transition()
               .duration(500)
               .style("opacity", 0);
       pop.style("pointer-events","none");
        div.transition()
            .duration(200)   
            .style("opacity", .9);    
        div .html(d.title) 
            .style("left", (d3.event.pageX) + "px")             
            .style("top", (d3.event.pageY - 28) + "px");})
       .on("mouseout", function(d) {
            div.transition()        
                .duration(500)      
                .style("opacity", 0);})
       .on("mouseup", function(d) {
           div.transition()        
                .duration(500)      
                .style("opacity", 0);
            pop.transition()
                .duration(200)
                .style("opacity", .9)
                .style("pointer-events","auto");    
            pop .attr("id", "link")
                .html('<a href=' + d.url + '><b>' + d.title + '</b></a><br/><br/><b>Description:</b>' + d.summary + '...')        
                .style("left", (d3.event.pageX) + "px")             
                .style("top", (d3.event.pageY - 28) + "px");
                })
        .call(force.drag);
    
    node.append("circle")
        .attr("r", 4)
        .style("fill", function(d) { return color(d.suggest); })
        .style("stroke",function(d) {return (d.suggest <= 15) && (d.suggest != 0) ? '#999' :'#fff';});;
        

    node.append("text")
        .attr("x", 12)
        .attr("dy", ".35em")
        .text(function(d) { return (d.suggest <= 15) && (d.suggest != 0) ? d.title : '';});

    var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 1e-6);
    
    var pop = d3.select("body").append("pop")
    .attr("class", "popup")
    .style("opacity", 1e-6);

      resize();
  d3.select(window).on("resize", resize); 

   d3.select('#order').on('change', function() {
        var showTitles = function(d) { return (d.suggest <= 15) && (d.suggest != 0) ? d.title : '';};
        var showKeywords = function(d) { return d.suggest != 0  ? d.keywords[0]: '';};
        var noShow = '';
        if (this.value == "Keyword_check") {
        d3.selectAll(".node text").text(showKeywords)}
        else if (this.value == "Title_check") {d3.selectAll(".node text").text(showTitles)}
        else if (this.value == 'None') {d3.selectAll(".node text").text('')}
        });
   /* d3.select('#Keyword_check').on('change', function() {
        var showKeywords = function(d) { return d.suggest != 0  ? d.keywords[0]: '';};
        var noShow = '';
        /*var position = function(d) {vars = d.keywords[0]; return Math.round(vars.length/-2);};
        d3.selectAll(".node text").attr("x",-10).text(this.checked ? showKeywords : noShow);
        });*/
            
  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });
    
    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
        
  });
    function resize() {
    width = window.innerWidth, height = window.innerHeight;
    svg.attr("width", width)/*.attr("height", height);
    force.size([width, height]).resume();*/
  }

});

  
    
</script>
    </div>
<div ALIGN=CENTER> 
    <h2> Reading suggestions: </h2>
    
{% if suggestions %}
    <ol>
    {% for suggestion in suggestions %}
        <li><a href="{{suggestion.url}}">{{ suggestion.title }}</a></li>
    {% endfor %}
    </ol>
{% else %}
    <p>No suggestions are available.</p>
{% endif %}
    
    
    <form action="{% url 'last24h:index' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Filter" />
</form>
  </div> 

</body>
</html>

