{% extends "homepage/base.html" %} {% load widget_tweaks %} {% load staticfiles %} {% block content %}
{% load mathfilters %}

<style media="screen">

.well.suggest {
  background-color: #06aed5;
}

.well.mistake {
  background-color: #dd1c1a;
}

.btn-option {
    color: white;
    border: 1px white solid;
}

.btn-option:hover {
    color: black;
    border: 1px black solid;
}

.btn-suggest {
    background-color: #06aed5;
    color: white;
    border: 1px white solid;
}

{% for option in options %}

    .{{option.name}}-class {
      background-color: {{option.color}};
    }

    .btn-option.btn-{{option.name}}:hover {
      background-color: {{option.color}};
    }

    #numberbox-{{option.name}} {
      left: {{forloop.counter|mul:3|add:75}}%;
      border-color: {{option.color}};
    }

{% endfor %}

.btn-suggest:hover {
    color: black;
    border: 1px black solid;
}

.image {
  position: relative;
  width: 100%;
  height:100%;
  max-width: 400px;
  max-height: 200px;
  overflow: hidden;
}

.numberbox {

  border: 2px solid;
  border-radius: 2px;
  background: #fff;
  opacity: 0.9;
  position: fixed;
  top: 10%;
  width: 30px;
  font-size: 30px;
  text-align:center;
  display:none;
}

</style>

<script type="text/javascript">
function updateClass(box, id) {

   if(box.id == "selection-"+id)
   {
       $( "div#suggestion-"+id ).toggleClass( "suggest" );
   }

   if(box.id == "mistake-"+id)
   {
       $( "div#suggestion-"+id ).toggleClass( "mistake" );
   }
};

</script>


    <h1 align=center>Newsletter - <strong>News Selection</strong></h1>
    <!-- .entry-header -->




    <div ALIGN=CENTER>

        <div class="forms">

            <!-- Tab panes -->
            <form action="{% url 'curate:interface' customer_key=customer_key %}" id="searchform" method="post">
                {% csrf_token %}
                {% for suggestion in suggestions %}

                <div class="row well 

                    {% for option in options %}
                      {% if option in suggestion.selected_options %} {{option.name}}-class {% endif %}
                    {% endfor %}" 
                    id="suggestion-{{ forloop.counter }}">

                    <div class="col-md-8" style="word-wrap: break-word; text-align: left;">

                        <p><img class="image" src="{{suggestion.article.images}}" alt=""></p>
                        <h2><a href="{{suggestion.article.url}}">{{suggestion.article.title}}</a> </h2>

                        <p> {{suggestion.article.body|slice:"0:200"}} </p>

                    </div>

                    <div class="col-md-4" style="text-align: left; margin-top: 4%">

                        
                        {% for option in options %}

                          <div class="row">

                        <label class="checkbox-inline btn btn-option btn-{{option.name}}" style="font-size: 20px; width: 150px">

                          <input
                          id="{{option.name}}-{{ forloop.parentloop.counter }}"
                          style="margin-top: 6px; margin-left:10px; opacity: 0;"
                          class="{{option.name}}"
                          type="checkbox"
                          name="{{option.name}}{{ forloop.parentloop.counter }}"
                          onchange="updateClass(this, checked)"
                          {% if option in suggestion.selected_options %} checked {% endif %}
                          >
                         {{option.name|title}}

                        </label>

                        </div>
                          
                        {% endfor %}
                    

                    </div>

                </div>

                {% endfor %} 

                {% if selection_made %}

                <input class="btn btn-primary" type="button" value="Already selected"> 

                {% else %}

                <input class="btn btn-primary" type="submit" value="Create Newsletter"> 

                {% endif %}

            </form>

        {% for option in options %}

        <div class="numberbox {{option.name}}-class" id="numberbox-{{option.name}}"></div>
        </div>
          
        {% endfor %}


    </div>


{% endblock content %}

{% block scripts %}

<script type='text/javascript'>

jQuery(document).ready(addClickHandlers());

var count = 0;

function addClickHandlers() {

{% for option in options %}

jQuery('.{{option.name}}-class').on('click', function(event) {

count = $("[class='{{option.name}}-class']:checked").length;
$('#numberbox-{{option.name}}').html(count);
$('#numberbox-{{option.name}}').css("display","block");

 });
  
{% endfor %}


}

</script>

{% endblock scripts %}
