{% extends "homepage/base.html" %} {% load widget_tweaks %} {% load staticfiles %} {% block content %}

<style media="screen">

.well.suggest {
  background-color: #06aed5;
}

.well.mistake {
  background-color: #dd1c1a;
}

.btn-mistake {
    background-color: #dd1c1a;
    color: white;
    border: 1px white solid;
}

.btn-mistake:hover {
    color: black;
    border: 1px black solid;
}

.btn-suggest {
    background-color: #06aed5;
    color: white;
    border: 1px white solid;
}

.btn-suggest:hover {
    color: black;
    border: 1px black solid;
}

.image {
  position: relative;
  width: 100%;
  height:100%;
  max-width: 400px;
  max-height: 200px;
  overflow: hidden;
}

.numberbox {

  border: 2px solid;
  border-radius: 2px;
  border-color: #06aed5;
  background: #fff;
  opacity: 0.9;
  position: fixed;
  top: 10%;
  left: 80%;
  width: 30px;
  font-size: 30px;
  text-align:center;
  display:none;
}

</style>

<script type="text/javascript">
function updateClass(box, id) {

   if(box.id == "selection-"+id)
   {
       $( "div#suggestion-"+id ).toggleClass( "suggest" );
   }

   if(box.id == "mistake-"+id)
   {
       $( "div#suggestion-"+id ).toggleClass( "mistake" );
   }
};

</script>


    <h1 align=center>Newsletter - <strong>News Selection</strong></h1>
    <!-- .entry-header -->




    <div ALIGN=CENTER>

        <div class="forms">

            <!-- Tab panes -->
            <form action="{% url 'curate:interface' customer_key=customer_key %}" id="searchform" method="post">
                {% csrf_token %}
                {% for suggestion in suggestions %}

                <div class="row well {% if suggestion.is_mistake %} mistake {% endif %} {% if suggestion.is_selected %} suggest {% endif %}" id="suggestion-{{ forloop.counter }}">

                    <div class="col-md-8" style="word-wrap: break-word; text-align: left;">

                        <p><img class="image" src="{{suggestion.article.images}}" alt=""></p>
                        <h2><a href="{{suggestion.article.url}}">{{suggestion.article.title}}</a> </h2>

                        <p> {{suggestion.article.body|slice:"0:200"}} </p>

                    </div>

                    <div class="col-md-4" style="text-align: left; margin-top: 4%">

                        <div class="row">

                        <label class="checkbox-inline btn btn-suggest" style="font-size: 20px; width: 150px">

                          <input
                          class = "selectbox"
                          id="selection-{{ forloop.counter }}"
                          style="margin-top: 6px; margin-left:10px; opacity: 0"
                          type="checkbox"
                          name="select{{ forloop.counter }}"
                          onchange="updateClass(this, {{ forloop.counter }})"
                          {% if suggestion.is_selected %} checked {% endif %}
                          >
                         Select

                        </label>

                        </div>

                        <div class="row">
                          <label class="checkbox-inline btn btn-mistake {% if suggestion.is_mistake %} btn-mistake {% endif %}" style="font-size: 20px; margin-top: 10px; width: 150px">

                            <input
                            class = "mistakebox"
                            id="mistake-{{ forloop.counter }}"
                            {% if suggestion.is_mistake %} class="mistake" {% endif %}
                            style="margin-top: 6px; margin-left:10px; opacity: 0"
                            type="checkbox"
                            name="mistake{{ forloop.counter }}"
                            onchange="updateClass(this, {{ forloop.counter }})"
                            {% if suggestion.is_mistake %} checked {% endif %}
                            >
                            Learn

                          </label>
                        </div>

                    </div>

                </div>

                {% endfor %} {% if selection_made %}

                <input class="btn btn-primary" type="button" value="Already selected"> {% else %}

                <input class="btn btn-primary" type="submit" value="Create Newsletter"> {% endif %}


            </form>

        <div class="numberbox"></div>
        </div>

    </div>


{% endblock content %}

{% block scripts %}

<script type='text/javascript'>

jQuery(document).ready(addClickHandlers());

var count = 0;

function addClickHandlers() {

jQuery('.selectbox').on('click', function(event) {

count = $("[class='selectbox']:checked").length;
$('.numberbox').html(count);
$('.numberbox').css("display","block");

 });
}

</script>

{% endblock scripts %}
