{% extends "homepage/base.html" %} {% load widget_tweaks %} {% load staticfiles %} {% block content %}
{% load mathfilters %}

<style media="screen">

.well {
  border: 1px solid;
}


.btn-option {
    color: black;
    border: 1px black solid;
    margin-top: 10px;
}

.btn-option:hover {
    color: black;
    border: 1px black solid;
}

{% for option in options %}

    .{{option.name}}-class {
      background-color: {{option.color}};
    }

{% if selection_made is False %}
    .btn-option.btn-{{option.name}}:hover {
      background-color: {{option.color}};
    }

    {% endif %}

        .btn-option.btn-{{option.name}}.active {
      background-color: {{option.color}};
    }

    #numberbox-{{option.name}} {
      left: {{forloop.counter|mul:3|add:75}}%;
      border-color: {{option.color}};
    }

{% endfor %}

.btn-suggest:hover {
    color: black;
    border: 1px black solid;
}

.image {
  position: relative;
  width: 100%;
  height:100%;
  max-width: 400px;
  max-height: 200px;
  overflow: hidden;
}

.numberbox {

  border: 2px solid;
  border-radius: 2px;
  background: #fff;
  opacity: 0.9;
  position: fixed;
  top: 10%;
  width: 30px;
  font-size: 30px;
  text-align:center;
  display:none;
}

</style>

    <h1 align=center>Newsletter - <strong>News Selection</strong></h1>
    <!-- .entry-header -->




    <div ALIGN=CENTER>

        <div class="forms">

            <!-- Tab panes -->
            <form action="{% url 'curate:interface' customer_key=customer_key %}" id="searchform" method="post">
                {% csrf_token %}
                {% for suggestion in suggestions %}

                <div class="row well">

                    <div class="col-md-8" style="word-wrap: break-word; text-align: left;">

                        <p><img class="image" src="{{suggestion.article.images}}" alt=""></p>
                        <h2><a href="{{suggestion.article.url}}">{{suggestion.article.title}}</a> </h2>

                        <p> {{suggestion.article.body|slice:"0:200"}} </p>

                    </div>

                    <div class="col-md-4" style="text-align: left; margin-top: 4%">
  
                      <div class="row">
                       
                        <div class="btn-group selector" data-toggle="buttons">
                        {% for option in options %}
                        <label class="checkbox-inline btn btn-option btn-{{option.name}} {% if option in suggestion.selection_options.all %} active {% endif %} " style="font-size: 20px; width: 150px" {% if query.selection_made %}disabled="disabled"{% endif %}>
                          <input
                          type="checkbox"
                          name="{{option.name}}{{ forloop.parentloop.counter }}"
                          class="{{option.name}}-input"
                          id="{{option.name}}-{{ forloop.parentloop.counter }}"
                          style="margin-top: 6px; margin-left:10px; opacity: 1;" 
                          >
                         {{option.name|title}}
                        </label>

                          
                        {% endfor %}


                        </div>
                        </div>
                      

                    </div>

                </div>

                {% endfor %} 

                {% if query.selection_made %}

                <input class="btn btn-primary" type="button" value="Already selected" {% if query.selection_made %}disabled="disabled"{% endif %}> 

                {% else %}

                <input class="btn btn-primary" type="submit" value="Create Newsletter" > 

                {% endif %}

            </form>

            </div>

        {% for option in options %}

        <div class="numberbox {{option.name}}-class" id="numberbox-{{option.name}}"></div>
        {% endfor %}


    </div>

{% endblock content %}

{% block scripts %}

<script type='text/javascript'>

 {% if query.selection_made is False %}

function eval_checkboxes() {
  {% for option in options %}
$('#numberbox-{{option.name}}').html(jQuery(".{{option.name}}-input:checked").length);
$('#numberbox-{{option.name}}').css("display","block");
  {% endfor %}
}

jQuery(document).ready(addClickHandlers());

function addClickHandlers() {
$(document).on('change', 'input', function(event) {
  eval_checkboxes()
  }
);
}

{% endif %}

</script>


{% endblock scripts %}
