{% extends "homepage/base.html" %}


{% block content %}

<h1 align=center class="page-title">Login</h1>

		<p> To make use of the more advanced features of {{name}} you require a profile. Please sign in here or create a new account:</p>
		
		<p><strong>
            {{ state }}
            </strong></p>
            <div class="forms" id="form_login_light">
	<form action="{% url 'login_user' %}" method="post">
        
        {% csrf_token %}
         <div class="form-group">
		<label> Username: </label>
		<input class="form-control" type="text" name="username" value="{{ username}}" /><br />
		<label> Password: </label>
		<input class="form-control" type="password" name="password" value="" /><br />

		<input class="btn btn-default" id="form_login_dark" type="submit" value="Log In" />
	</form>
	</div>
            <p> Forgot your password or username? Click <a href="{% url 'password_reset' %}">here</a>.</p>
    </div>
    		</p>
		<p><button class="btn btn-default" id="form_registration_light">
		<a href="{% url 'register' %}">Create account</a></button>
		</p>
{% endblock content %}