{% extends "homepage/base.html" %}
{% load widget_tweaks %}

{% block content %}

<h1 align=center class="page-title">Contact and Feedback</h1><!-- .entry-header -->
		<div ALIGN=CENTER>
            {{ state }}
           
            {%if form %}
            <div class="forms" id="form_contact_light">
	<form action="{% url 'homepage:contact' %}" method="post">
        
        {% csrf_token %}
      {% if form.contact_name.errors %}
   <div class="form-group has-error"> 
   <label class="control-label" for="inputError1">Invalid format, avoid special characters</label>
   {% else %}
   <div class="form-group">
    {{form.contact_name.label_tag}}
    {% endif %}
    {{form.contact_name|add_class:"form-control"}}
   </div>
     {% if form.contact_email.errors %}
   <div class="form-group has-error"> 
   <label class="control-label" for="inputError1">Invalid email</label>
   {% else %}
   <div class="form-group">
    {{form.contact_email.label_tag}}
    {% endif %}
    {{form.contact_email|add_class:"form-control"}}
   </div>

         {% if form.content.errors %}
   <div class="form-group has-error"> 
   <label class="control-label" for="inputError1">Invalid format, avoid special characters</label>
   {% else %}
   <div class="form-group">
    {{form.content.label_tag}}
    {% endif %}
    {{form.content|add_class:"form-control"}}
   </div>

		<input class="btn btn-default" id="form_contact_dark" type="submit" value="Send" />
	</form>
	</div>
   {% endif %}
    </div>
</div>
{% endblock content %}