{% extends "graphite/base.html" %}


{% block content %}

<h1 align=center class="page-title">Hi, {{user.first_name}} {{user.last_name}}</h1><!-- .entry-header -->
			<div id="content" class="site-content" role="main">

		<div ALIGN=CENTER>
            {% if form %}
            <form action="{% url 'profile' %}" method="post">
    {% csrf_token %}
    {{ form }} 
    <input type="submit" value="Save Change" name="save_profile"/>
</form> 
            {% endif %}
                        {% if form2 %}
            <form action="{% url 'profile' %}" method="post">
    {% csrf_token %}
    {{ form2 }} 
    <input type="submit" value="Submit" name="submit"/>

</form> 
            {% endif %}
    </div>
</div>
{% endblock content %}