{% extends "graphite/base.html" %}


{% block content %}

<h1 align=center class="page-title">Too sad!</h1><!-- .entry-header -->
			<div id="content" class="site-content" role="main">
		<div ALIGN=CENTER>
            
			<p>We've deleted your profile including all data that came with it. We're sorry to see you go and hope that you will use our services again in the future. If you have any feedback to give, or suggestions on how we could have kept you with us, please <a href="{% url 'contact' %}">drop us a mail</a></p>
            
   
    </div>
</div>        
 
{% endblock content %}

