{% extends "homepage/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<h1 align=center class="page-title">Password Reset</h1>

<div ALIGN=CENTER>

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<div class="forms" id="form_alert_light">
<form action="" method="post">{% csrf_token %}

{% if form.email.errors %}
   <div class="form-group has-error"> 
   <label class="control-label" for="inputError1">Invalid email</label>
   {% else %}
<div class="form-group">
<label for="id_email">{% trans 'Email address:' %}</label> 
{% endif %}
{{ form.email|add_class:"form-control"}} 

</div><input class="btn btn-default" id="form_alert_dark"  type="submit" value="{% trans 'Reset my password' %}" />
</form>
</div>
</div>


{% endblock %}
