{% extends "graphite/base.html" %}


{% block content %}

<h1 align=center class="page-title">How it works</h1><!-- .entry-header -->
			<div id="content" class="site-content" role="main">

		<div ALIGN=CENTER>
            <h1>What is graphite</h1>
			<p>Grahpite is Welcome to graphite. Here you can do this and that. Check out our custom site stuff</p>
            <h1>How does it work?</h1>
			<p>Grahpite is Welcome to graphite. Here you can do this and that. Check out our custom site stuff</p>
            <h1>Who develops it?</h1>
			<p>A lot of people.</p>
   
    </div>
</div>
{% endblock content %}