{% extends "graphite/base.html" %}


{% block content %}

    <!-- Page Content -->
    
    <div class="container">
    <div class="row">
            <div class="col-lg-12">
<h1 align=center class="page-title">{{user.first_name}} {{user.last_name}}
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
    <div class="col-md-6" id="leftcol">
<div align="center">
   

   <h3> Personal Details: </h3>
            
           {{state_profile}}
            <div class="forms" id="form1_light">
            <form action="{% url 'profile' %}" class="module aligned wide" method="post">
            {% csrf_token %}
            {{ form2 }} 
                <input type="submit" value="Save Change" name="save_profile"/>
                <input type="submit" value="Delete profile" name="delete_profile"/>
            </form> 
            </div>  
        <p>In order to change your password, please click <a href="{% url 'password_change'%}">here</a>.</p>
        

    <h3> Grews alerts: </h3>
            
            Create a new alert <a href="{% url 'grews_alert'%}" >here</a>.
            
                 
{% if alert_info %}
    {% for alert, form in alert_info %}
                <div class="forms" id="form2_light">
                            <form action="{% url 'profile' %}" class="module aligned wide" method="post">
                                <h3 class="entry-title"><a href={{alert.latest_url}}>{{alert.query}}</a></h3>
                                {% csrf_token %}
                                {{ form }} 
                                                            <p>
                    <input type="submit" value="Save Change" name="save"/>
                                    <input type="submit" value="Delete alert" name="delete"/></p>
                    </form>   
                </div>    
      {% endfor %}      
           
            {% else %}
            <p>No grews alerts yet. </p>
            {% endif %}           
        
        </div>
        </div>


    <div class="col-md-6" id="rightcol">
    <div align="center">


        <h3> Recent searches: </h3>
   {% if recent_queries %}
            <div ALIGN=CENTER>
            <table alignment=center text-align=center>
                <tr>
                    <th>Query</th>
                    <th>Search Time</th>
                    </tr>
    {% for query in recent_queries %}
                <tr>
                    <td><h3 class="entry-title"><a href={{query.url}}>{{query.query}}</a></h3></td>
                    <td>  {{query.time}} </td>
                </tr>

      {% endfor %}      
            </table>
            </div>
            {% else %}
            <p>No searches yet. Perform one <a href="" >here</a></p>
                {% endif %} 
        </div>
        </div>
        </div>
</div>
        
{% endblock content %}