{% extends "graphite/base.html" %}
{% load staticfiles %}


{% block content %}
<div align="center">
<p></p>
<p></p>
<p></p>
<div class="status"></div>


<p>
<div class="progress">
  <div class="progress-bar progress-bar-striped active" id="progress" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
    <span class="sr-only"></span>
  </div>
</div>
</p>
</div>

{% endblock %}
{% block scripts %}


<script src="{% static 'last24h/progress.js' %}" type="text/javascript"></script>
<script> var task_id = "{{task_id}}" </script>



{% endblock %}