{% extends "graphite/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="container main">
<h1 align=center class="page-title">Alerts</h1><!-- .entry-header <-->

<div align=center>

       <p>Here you can create your own alert (or many of them) sent regularly to your inbox.</p>
       <p>This is just a custom search at regular intervals so the same guidelines apply: It is important to make clear that <strong>the quality of the graph depends massively on the number of input articles!</strong> I therefore strongly recommend to make sure that you have at least 150 articles. If your favourite feed is not in the list of options, add it to our database using the form below!</p>
   <p><b>  {{ state }} </b></p>

    <div class="forms" id="form_alert_light">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="customtab2" role="tablist">
    <li role="presentation" class="active"><a href="#term" aria-controls="term" role="tab" data-toggle="tab" id="tab-left">Search Term</a></li>
    <li role="presentation"><a href="#feeds" aria-controls="feeds" role="tab" data-toggle="tab" id="tab-right">Feeds</a></li>
  </ul>

    <form action="{% url 'grews_alert' %}" method="post">
    
    {% csrf_token %}
      <div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="term">

          {% if form.query.errors %}
             <div class="form-group has-error"> 
             <label class="control-label" for="inputError1">Invalid format, avoid special characters</label>
             {% else %}
             <div class="form-group">
              {{form.query.label_tag}}
              {% endif %}
              {{form.query|add_class:"form-control"}}
             </div>
        
            </div>

    <div role="tabpanel" class="tab-pane" id="feeds">
         <div class="form-group">
    {{form.sources.label_tag}}
    {{form.sources|add_class:"form-control selectpicker"|attr:"data-live-search:true"|attr:"multiple"}}
    {{form.sources.errors}}
        </div>
    </div>

             {% if form.frequency.errors %}
             <div class="form-group has-error"> 
             <label class="control-label" for="inputError1">Invalid frequency</label>
             {% else %}
             <div class="form-group">
              {{form.frequency.label_tag}}
              {% endif %}
              {{form.frequency|add_class:"form-control"}}
             </div>  

             {% if form.delivery_time.errors %}
             <div class="form-group has-error"> 
             <label class="control-label" for="inputError1">Invalid time format</label>
             {% else %}
             <div class="form-group">
              {{form.delivery_time.label_tag}}
              {% endif %}
              {{form.delivery_time|add_class:"form-control"}}
             </div>


             {% if form.captcha.errors %}
             <div class="form-group has-error"> 
             <label class="control-label" for="inputError1">Invalid captcha</label>
             {% else %}
             <div class="form-group">
              {{form.captcha.label_tag}}
              {% endif %}
              {{form.captcha|add_class:"form-control"}}
             </div>
              <button class="btn btn-default" id="form_alert_dark" type="submit" value"Set alert" name="set">Submit</button>

   </div>
</form>
</div>



<h2 align=center class="page-title">Add feeds to database</h2>
<div class="forms" id="form_feeds_light">
    <form action="{% url 'grews_alert' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
    {{form2.name.label_tag}}
    {{form2.name|add_class:"form-control"}}
    {{form2.name.errors}}
   </div>
   {% if existingfeed == 0 %}
   <div class="form-group"> 
    {{form2.url.label_tag}}
    {{form2.url|add_class:"form-control"}}
    {{form2.url.errors}}
   </div>
   {%endif %}
      {% if existingfeed == 1 %}
   <div class="form-group has-error"> 
    <label class="control-label" for="inputError1">Feed already exists</label>
    {{form2.url|add_class:"form-control"}}
    {{form2.url.errors}}
   </div>
   {%endif %}
   {% if existingfeed == 2 %}
   <div class="form-group has-error"> 
    <label class="control-label" for="inputError1">Bad feed url. Please double-check</label>
    {{form2.url|add_class:"form-control"}}
    {{form2.url.errors}}
   </div>
   {%endif %}
      <input class="btn btn-default" id="form_feeds_dark" type="submit" value="Add" name="add_source"/>
      </form>
      </div>

</div>
</div>
{% endblock content %}
