{% extends "graphite/base.html" %}
{% load staticfiles %}


{% block head %}

    <script align='center' type="text/javascript" src="{% static 'last24h/d3.min.js' %}"></script> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/css/bootstrap-slider.min.css" rel="stylesheet">
<!-- <script src="//d3js.org/d3.v4.min.js"></script> -->
    <script type='text/javascript'> var json =  "{% static 'commerz/customsearch/cs_nl.json' %}",
    tgt = "{% static 'commerz/customsearch/cs_tgt.json' %}",
    custom = 0,
    nodefac = 0.6,
    linkdist = 60,
    worksurl = "{% url 'how_it_works'%}",
    customsearchurl = "{% url 'customsearch'%}",
    grewsalerturl = "{% url 'grews_alert'%}",
    registerurl = "{% url 'register'%}",
    init_message = "<div align='center'><h3 style='margin-top:0px'align=center>The news at your fingertips!</h3><h4>Explore and analyse the newsscape using an <a data-toggle='modal' data-target='#myModal'>intuitive interface.</a></h4><h4>Create your own <a href=" + customsearchurl + ">custom graph</a> right now, or <a href=" + grewsalerturl + ">subscribe</a> to regular alerts.</h4><h4>Share interesting graphs and insights with your friends!</h4></div>"
      // <p>Reading lists that maximise relevance while minimizing redundancy (<span class='glyphicon glyphicon-star'></span>-button)</p>
    </script>


{% endblock %}
        

{% block content %}
      <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-orientation="vertical" data-slider-step="1" data-slider-value="[0,100]" data-slider-tooltip="hide"/>
{% endblock %}

{% block vis %}

<!-- <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script src="https://d3js.org/d3-selection.v1.min.js"></script>
<script src="https://d3js.org/d3-drag.v1.min.js"></script> -->

<script type='text/javascript' src="{% static 'last24h/graph_sent.js' %}"> </script>

{% endblock %}

{% block scripts %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.2.0/bootstrap-slider.min.js"> </script>
<script type='text/javascript'>
$('#ex1').slider({
    formatter: function(value) {
        if (value.length == 2) {
        d3.selectAll("circle").filter(function(d) {return (value[0]/100. <= d.sent) &&  (d.sent <= value[1]/100.) ? this : null;}).style("opacity",1);
        d3.selectAll("circle").filter(function(d) {return (value[0]/100. > d.sent) || (d.sent > value[1]/100.) ? this : null;}).style("opacity",0.1);
        // console.log(value[0]/100.,value[1]/100.)
        // return 'Current value: ' + value;
    }
    }
});
    </script>
{% endblock %}

