{% extends "homepage/base.html" %}
{% load staticfiles %}

{% block content %}
    <h1>Page unavailable</h1>

    <p>Sorry, but the requested page is unavailable due to a
    server hiccup.</p>
    <p> If you ended up here after a custom search, probably the information provided by the publishers is somehow corrupted or unexpected. In this case slightly modifying the search or changing some of the feeds will probably help. Still, I'm working on expanding the range of input the custom searches can handle. Bare with me.</p> 

<br><br>
<br>
<i class="fa fa-frown-o fa-5x" aria-hidden="true"></i>
{% endblock content %}

