{% extends "graphite/base.html" %} {% load widget_tweaks %} {% load staticfiles %} {% block content %}

<style media="screen">

.well.suggest {
  background-color: rgb(121, 179, 179);
}

.well.mistake {
  background-color: rgb(213, 90, 20);
}

</style>

<script type="text/javascript">
function updateClass(box, id) {

   if(box.id == "selection-"+id)
   {
       $( "div#suggestion-"+id ).toggleClass( "suggest" );
   }

   if(box.id == "mistake-"+id)
   {
       $( "div#suggestion-"+id ).toggleClass( "mistake" );
   }
};

</script>

<div class="container main">
    <h1 align=center>Newsletter - <strong>News Selection</strong></h1>
    <!-- .entry-header -->

    <div ALIGN=CENTER>

        <div class="forms">

            <!-- Tab panes -->
            <form action="{% url 'nh:interface' %}" id="searchform" method="post">
                {% csrf_token %}
                {% for suggestion in suggestions %}

                <div class="row well" id="suggestion-{{ forloop.counter }}">

                    <div class="col-md-8" style="word-wrap: break-word; text-align: left;">

                        <h2> {{suggestion.title}} </h2>

                        <p> {{suggestion.summary}} </p>

                    </div>

                    <div class="col-md-4" style="text-align: left; margin-top: 4%">

                        <div class="row">

                        <label class="checkbox-inline" style="font-size: 20px">

                          <input
                          id="selection-{{ forloop.counter }}"
                          style="margin-top: 6px"
                          type="checkbox"
                          name="select{{ suggestion.rank }}"
                          onchange="updateClass(this, {{ forloop.counter }})"
                          {% if suggestion.is_selected %} checked {% endif %}
                          >
                          Selection

                        </label>

                        </div>

                        <div class="row">
                          <label class="checkbox-inline" style="font-size: 20px">

                            <input
                            id="mistake-{{ forloop.counter }}"
                            {% if suggestion.is_mistake %} class="mistake" {% endif %}
                            style="margin-top: 6px"
                            type="checkbox"
                            name="select{{ suggestion.rank }}"
                            onchange="updateClass(this, {{ forloop.counter }})"
                            {% if suggestion.is_mistake %} checked {% endif %}
                            >
                            Mistake

                          </label>
                        </div>

                    </div>

                </div>

                {% endfor %} {% if selection_made %}

                <input class="btn btn-primary" type="button" value="Already selected"> {% else %}

                <input class="btn btn-primary" type="submit" value="Create Newsletter"> {% endif %}


            </form>


        </div>
    </div>
</div>

{% endblock content %}
