{% extends "homepage/base.html" %}
{% load staticfiles %}


{% block head %}

    <script align='center' type="text/javascript" src="{% static 'last24h/d3.min.js' %}"></script> 
    <script type='text/javascript'> var json =  "{% static 'last24h/ug_nl_cluster.json' %}",
    tgt = "{% static 'last24h/tgt_cluster.json' %}",
    custom = 0,
    nodefac = 0.6,
    linkdist = 60,
    worksurl = "{% url 'how_it_works'%}",
    customsearchurl = "{% url 'customsearch'%}",
    grewsalerturl = "{% url 'grews_alert'%}",
    registerurl = "{% url 'register'%}",
    init_message = "<div align='center'><h3 style='margin-top:0px'align=center>The news at your fingertips!</h3><h4>Explore and analyse the newsscape using an <a data-toggle='modal' data-target='#myModal'>intuitive interface.</a></h4><h4>Create your own <a href=" + customsearchurl + ">custom graph</a> right now, or <a href=" + grewsalerturl + ">subscribe</a> to regular alerts.</h4><h4>Share interesting graphs and insights with your friends!</h4></div>"
      // <p>Reading lists that maximise relevance while minimizing redundancy (<span class='glyphicon glyphicon-star'></span>-button)</p>
    </script>


{% endblock %}
        

{% block vis %}
<script type='text/javascript' src="{% static 'last24h/graph.js' %}"> </script>
{% endblock %}
